html{
    background-color: #D7FF52;
}
p, h1, h2, h3, h4, h5, h6, form{
    color: #FFD059;
    margin-left: 10px;
}
header{
    background-color: #C26E90;
    border-bottom: 10px;
    border-bottom-color: #E8A268;
}
footer{
    background-color: #C26E90;
}
body{
    max-width: 800px;
    margin: 0 auto;
    background-color: #006475;
}
hr {
    border: 0;
    clear:both;
    display:block;
    width: 100%;
    background-color: #D7FF52;
    height: 3px;
}
button{
    background-color: #E8A268;
    color: #006475;
    margin-left: 10px;
}
li{
    color: #C26E90
}
li a{
    color: #C26E90
}
li a:hover{
    color: #D7FF52
}
.deleteQuiz{
    float: right;
    margin-right: 10px;
}
.deleteQuestion{
    display: inline-block;
    float: right;
    margin-right: 10px;
    margin-left: 10px;
}
#question{
    display: inline-block;
    margin-left: 10px;
    width: 93%;
}
#title{
    margin-left: 10px;
    margin-right: 10px;
    width: 95%;
}
label{
    margin-left: 10px;
}
#returnHome{
    display: inline-block;
    float: right;
    margin-right: 10px;
}
button:hover{
    background-color: #FFD059;
}
#gameCode{
    width: 30%;
}