<h2>Register as a Student!</h2>
<form method="post" id="studentUser">
    <div>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" ng-model="studentUser.username"/>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" ng-model="studentUser.password"/>
    </div>
    <div>
        <h5><a href="#sHome"><button ng-click="register(studentUser)">Register</button></a></h5>
    </div>
</form>