<h5><a href="#tHome"><button id="returnHome">Return Home<br>(without saving)</button></a></h5>
<h3>Let's Build a New Quiz!</h3>
<hr>
<form role="form-inline" name="quizForm" novalidate>
    <div class="form-group">
        <label for="title">Quiz Title: </label>
        <input type="title" class="form-control" id="title" placeholder="Title" ng-model="quiz.title" required>
    </div>
    <div ng-repeat="question in inputs track by question['id']">
        <div class="form-group">
            <label for="question">Question {{question['id']}}: </label>
            <input type="question" class="form-control" id="question" placeholder="Question {{question['id']}}" ng-model="question.question" required>
            <button class="deleteQuestion" ng-click="deleteQuestion($index)">X</button>
        </div>

        <div class="col-xs-3 form-group">
            <label for="answer1"></label>
            <input type="answer" class="form-control" id="answer1" placeholder="Correct Answer" ng-model="question.answer1" required>
        </div>
        <div class="col-xs-3 form-group">
            <label for="answer2"></label>
            <input type="answer" class="form-control" id="answer2" placeholder="False Answer" ng-model="question.answer2" required>
        </div>
        <div class="col-xs-3 form-group">
            <label for="answer3"></label>
            <input type="answer" class="form-control" id="answer3" placeholder="False Answer" ng-model="question.answer3" required>
        </div>
        <div class="col-xs-3 form-group">
            <label for="answer4"></label>
            <input type="answer" class="form-control" id="answer4" placeholder="False Answer" ng-model="question.answer4" required>
        </div>

    </div>

    <h5><button type="button" id="add" ng-click="addQuestion()">Add Another Question</button></h5>
    <h5><a href="#tHome"><button ng-click="add(quiz)">Save Quiz</button></a></h5>
</form>
<!--<button ng-click="generateGameCode()">CLICK</button>-->


